<dx-popup
  #popup
  (onShown)="_popUpShown()"
  [width]="900"
  [height]="'auto'"
  [showTitle]="true"
  title="{{ 'Default Title' }}"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let data of 'content'">
    <div class="appointment-popup">
      <dx-box direction="row" width="100%">
        <dxi-item class="" [ratio]="1">
          <div class="form">
            <div class="dx-fieldset">
              <div class="dx-field text-box">
                <div class="dx-field-label">Adı</div>
                <div class="dx-field-value">
                  <dx-text-box [(value)]="appointmentsDTO.name"></dx-text-box>
                </div>
              </div>
              <div class="dx-field text-box">
                <div class="dx-field-label">Kullancı Seçiniz</div>
                <div class="dx-field-value">
                  <dx-select-box
                    [dataSource]="appointmentService.schedulerDTO.usersDTOs"
                    [displayExpr]="'name'"
                    [valueExpr]="'id'"
                    [value]="appointmentsDTO.userId"
                    (onSelectionChanged)="onCahngeUser($event)"
                  >
                  </dx-select-box>
                </div>
              </div>
              <div class="dx-field text-box">
                <div class="dx-field-label">Başlangıç Tarihi</div>
                <div class="dx-field-value">
                  <dx-date-box
                    [(value)]="appointmentsDTO.startDate"
                    type="datetime"
                  >
                  </dx-date-box>
                </div>
              </div>
              <div class="dx-field text-box">
                <div class="dx-field-label">Bitiş Tarihi</div>
                <div class="dx-field-value">
                  <dx-date-box
                    [(value)]="appointmentsDTO.endDate"
                    type="datetime"
                  >
                  </dx-date-box>
                </div>
              </div>

              <div class="dx-field text-box">
                <div class="dx-field-label">Hizmet Seçiniz</div>
                <div class="dx-field-value">
                  <dx-select-box
                    [dataSource]="appointmentService.schedulerDTO.servicesDTOs"
                    [displayExpr]="'name'"
                    [valueExpr]="'id'"
                    [value]="appointmentsDTO.serviceId"
                    (onSelectionChanged)="onCahngeService($event)"
                  >
                  </dx-select-box>
                </div>
              </div>
              <div class="dx-field text-box">
                <div class="dx-field-label">Hizmet Yeri Seçiniz</div>
                <div class="dx-field-value">
                  <dx-select-box
                    [dataSource]="
                      appointmentService.schedulerDTO.serviceLocationsDTOs
                    "
                    [displayExpr]="'name'"
                    [valueExpr]="'id'"
                    [value]="appointmentsDTO.serviceLocationId"
                    (onSelectionChanged)="onChangeServiceLocation($event)"
                  >
                  </dx-select-box>
                </div>
              </div>
              <div class="dx-field text-box">
                <div class="dx-field-label">Müşteri Seçiniz</div>
                <div class="dx-field-value">
                  <dx-select-box
                    [dataSource]="appointmentService.schedulerDTO.customersDTOs"
                    [displayExpr]="'name'"
                    [valueExpr]="'id'"
                    [value]="appointmentsDTO.customerId"
                    (onSelectionChanged)="onChangeCustomer($event)"
                  >
                  </dx-select-box>
                </div>
              </div>
              <div class="dx-field text-box">
                <div class="dx-field-label">Fiyatı</div>
                <div class="dx-field-value">
                  <dx-number-box [(value)]="appointmentsDTO.price">
                  </dx-number-box>
                </div>
              </div>
              <div class="dx-field note">
                <div>Not</div>

                <dx-text-area
                  [height]="100"
                  [(value)]="appointmentsDTO.additionalNote"
                >
                </dx-text-area>
              </div>
            </div>
          </div>
        </dxi-item>
      </dx-box>
      <dx-box width="100%">
        <dxi-item class="rect demo-dark" [ratio]="2">
          <dx-button
            text="{{ 'Kapat' }}"
            type="normal"
            (onClick)="popup.instance.hide()"
          >
          </dx-button>
        </dxi-item>
        <dxi-item class="rect demo-light" [ratio]="2">
          <dx-button text="{{ 'Kaydet' }}" type="normal" (onClick)="_onSave()">
          </dx-button>
        </dxi-item>
      </dx-box>
    </div>
  </div>
</dx-popup>
